/* *            Variabler */
:root {
    /* Färger */
    --clr-header: #2d2849;
    --clr-navHover: #3a3650;
    --clr-bg: #3d3b57;
    --clr-sec: #796892;
    --clr-sec2: #78688d;
    --clr-btnHover: #b9a0cf;
    --clr-dark: #181717;
    --clr-text: #e9d5da;
}

/* Tar bort vita kanter */
body {
    padding: 0;
    margin: 0;
    background-color: var(--clr-bg);
}

a {
    color: var(--clr-text);
    text-decoration: none;
}

/* *            FONT CHANGES */
* {
    font-family: "Quicksand", sans-serif;
    color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Antic Slab", serif;
}

/* MARGIN OCH PADDING GRUNDER FÖR SECTIONS */
section {
    margin: 0;
    padding: 50px 0px;
}

/* *                 HEADER */
#page-header {
    background-color: var(--clr-header);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 2rem;
    z-index: 5;
}

/* LOGO */
#header-logo {
    position: relative;
    height: 60px;
    vertical-align: middle;
    left: 20px;
    top: 10px;
    transition: background-color, 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

#header-logo:hover {
    background-color: var(--clr-navHover);
}

/* NAVBAR */
.header-navbar {
    position: absolute;
    right: 20px;
    top: 22px;
}

.header-navbar > a {
    margin: 10px;
    padding: 10px;
    transition: background-color, 0.2s;
}

.header-nav-link {
    font-family: "Antic Slab", serif;
    border-radius: 5px;
    opacity: 0.5;
}

.header-nav-link:hover {
    background-color: var(--clr-navHover);
    opacity: 1;
}

/* DROPDOWN MENU */
.header-dropdown-menu {
    position: absolute;
    top: 15px;
    right: 30px;
    text-align: center;
}

.header-dropdown-icon {
    height: 50px;
    filter: invert(100%);
    opacity: 0.5;
}

.header-dropdown-menu:hover .header-dropdown-icon {
    opacity: 1;
}

.header-navbar-dropdown {
    display: none;
    background-color: var(--clr-navHover);
    position: absolute;
    width: 100px;
    right: 50px;
    top: 0px;
    font-size: 1.5rem;
}

.header-navbar-dropdown > a {
    font-size: 1.8rem;
    margin: 5px;
    padding: 2px;
    transition: background-color, 0.2s;
}

.header-dropdown-menu:hover > nav {
    display: block;
    position: fixed;
    top: 60px;
    right: 10px;
}

.header-navbar-dropdown:hover {
    display: block;
}

@media screen and (min-width: 768px) {
    .header-dropdown-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-navbar {
        display: none;
    }
}

/* Margin för about och contact. Behövs pga header=fixed */
#page-header-margin {
    height: 80px;
}

/* *                FOOTER */
#footer {
    background-color: var(--clr-header);
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer-copyright {
    margin-bottom: 0;
    color: var(--clr-text);
}

.contact-footer {
    position: fixed;
}

/* *             SECTION HEADERS */
.section-header {
    text-align: center;
    font-size: 4.5rem;
    margin: 25px 5% 25px 5%;
    font-family: "Bitter", serif;
}

@media screen and (max-width: 768px) {
    .section-header {
        font-size: 3rem;
    }
}

.minor-text-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*  */
/* *                INDEX  */
/*  */

/* IMAGE SECTION */
#image-section {
    text-align: center;
    margin: auto;
    background-color: var(--clr-bg);
}

.image-container {
    display: flex;
    width: 100%;
    height: 700px;
}

.image-slideshow {
    position: absolute;
    height: 700px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    aspect-ratio: 2/1.3;
}

/* Work-around för bildspelet */
.im1 {
    opacity: 1;
    animation: slideshow-animation1 60s linear infinite;
}
.img2 {
    opacity: 0;
    animation: slideshow-animation2 60s linear infinite;
}
.img3 {
    opacity: 0;
    animation: slideshow-animation3 60s linear infinite;
}
.img4 {
    opacity: 0;
    animation: slideshow-animation4 60s linear infinite;
}
.img5 {
    opacity: 0;
    animation: slideshow-animation5 60s linear infinite;
}
.img6 {
    opacity: 0;
    animation: slideshow-animation6 60s linear infinite;
}

@keyframes slideshow-animation1 {
    0% {
        opacity: 1;
    }
    16% {
        opacity: 0;
    }
    84% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slideshow-animation2 {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
}
@keyframes slideshow-animation3 {
    16% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes slideshow-animation4 {
    33% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    67% {
        opacity: 0;
    }
}
@keyframes slideshow-animation5 {
    50% {
        opacity: 0;
    }
    67% {
        opacity: 1;
    }
    83% {
        opacity: 0;
    }
}

@keyframes slideshow-animation6 {
    67% {
        opacity: 0;
    }
    83% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section-logo {
    position: relative;
    margin: auto;
    width: 60%;
    z-index: 2;
    animation: logo-animation 15s linear infinite;
}

@keyframes logo-animation {
    0% {
        filter: invert(100%) hue-rotate(180deg);
    }
    50% {
        filter: invert(0) hue-rotate(0deg);
    }
    100% {
        filter: invert(100%) hue-rotate(180deg);
    }
}

@media screen and (max-width: 768px) {
    .image-slideshow {
        height: 700px;
    }
    .image-section-logo {
        width: 80%;
    }
}

/* MISSION SECTION */
#mission-section {
    position: relative;
    /* padding-bottom: 30px; */
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 90px;
    background-color: var(--clr-bg);
}

.mission-container-grid {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    margin: auto;
    padding: 5px;
    width: 80%;
    border-radius: 25px;
    border: 1px solid var(--clr-dark);
    box-shadow: 4px 4px 4px var(--clr-dark);
}

.mission-list {
    font-size: 2em;
    grid-column-start: 2;
    margin: auto;
}

.mission-text-container {
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 400px;
    font-size: 1.2rem;
    grid-column-start: 3;
}

@media screen and (max-width: 768px) {
    .mission-container-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mission-text-container {
        width: 90%;
        grid-row-start: 3;
        grid-column-start: 2;
    }
}

.font-size-change {
    font-size: 1.6rem;
    font-weight: bold;
}

/* GAME PLAN SECTION */
#gameplan-section {
    background: url("../img/sketch-photo-2-blur.jpg") center center/cover
        no-repeat;
    filter: hue-rotate(255deg);
    padding-top: 60px;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 0;
}

.black-text {
    color: black;
}

dl {
    text-align: center;
    margin: 0 25%;
}

dt {
    color: black;
    font-size: 2rem;
    font-family: "Antic Slab", serif;
    font-weight: bold;
    margin-top: 10px;
}

dd {
    font-size: 1.2em;
    color: black;
    text-align: right;
}

/* CTA SECTION */
#cta-section {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--clr-bg);
}

.section-container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr-bg);
    padding: 15px;
    border-radius: 25px;
    margin: auto;
    max-width: 600px;
    border: 1px solid var(--clr-dark);
    box-shadow: 4px 4px 4px var(--clr-dark);
}

.cta-header {
    font-size: 2.2rem;
    font-family: "Quicksand", sans-serif;
}

.cta-button {
    font-family: "Antic Slab", serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: var(--clr-sec);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    border: var(--clr-dark) solid 1px;
}

.cta-button:hover {
    background-color: var(--clr-btnHover);
}

@media screen and (max-width: 768px) {
    .section-container-flex {
        display: grid;
    }
}

/*  */
/* *                ABOUT PAGE */
/*  */

/* intro section */
#about-intro-section {
    padding-bottom: 60px;
}

.about-intro-container {
    padding: 40px 0 40px 0;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 3%;
    justify-content: space-evenly;
    align-items: top;
    font-size: 1.5rem;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    border: 1px solid var(--clr-dark);
    box-shadow: 4px 4px 4px var(--clr-dark);
}

@media screen and (max-width: 600px) {
    .about-intro-container {
        display: block;
        text-align: center;
    }
    .about-intro-image-container {
        display: none;
    }
}

.about-intro-text {
    grid-column-start: 2;
    justify-self: center;
}

.about-intro-image-container {
    grid-column-start: 3;
}

.about-intro-image {
    max-width: 100%;
    border-radius: 15px;
    animation: about-image-animation 10s ease infinite;
}

@keyframes about-image-animation {
    0% {
        filter: blur(0) saturate(20%);
    }
    50% {
        filter: blur(2px) saturate(150%);
    }
    100% {
        filter: blur(0) saturate(20%);
    }
}

/* about the product */
#about-the-product-section {
    background: linear-gradient(
        45deg,
        var(--clr-sec),
        var(--clr-bg),
        var(--clr-bg),
        var(--clr-header)
    );
    background-size: 400%;
    padding: 110px 0 60px 0;
    animation: about-the-product-gradient 25s ease-in-out infinite;
}

@keyframes about-the-product-gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.rating-container {
    padding: 0 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    column-gap: 15px;
}

.rating {
    justify-self: center;
    background-color: var(--clr-sec2);
    border-radius: 25px;
    margin: 0 20px;
    max-width: 280px;
}

@media screen and (max-width: 768px) {
    .rating-container {
        display: block;
        justify-content: center;
    }

    .rating {
        margin: auto;
    }
}

.rating-sender {
    color: var(--clr-dark);
}

.about-the-product-container {
    padding: 0 0 5px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: top;
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 15px;
    column-gap: 10px;
}

.about-the-product-text {
    margin: 25px auto 25px auto;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    .about-the-product-container {
        grid-template-columns: 1fr;
    }
}

/* product benchmark */
#about-product-benchmark {
    text-align: center;
    display: block;
    padding-top: 60px;
    padding-bottom: 100px;
}

.table-container {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
}

.performance-table {
    border-collapse: collapse;
    margin: auto;
    width: 60%;
    max-width: 400px;
    box-shadow: 4px 4px 4px var(--clr-dark);
}

@media screen and (max-width: 768px) {
    .performance-table {
        width: 100%;
    }
}

th {
    font-size: 1.1em;
    background-color: var(--clr-sec);
}
td {
    font-size: 0.9em;
}

td,
th {
    border: black 1px solid;
}

tr:nth-child(2) {
    background-color: green;
}
tr:nth-child(n + 3) {
    background-color: #ff5e50;
}

/* ABOUT CTA SECTION */
#about-cta-section {
    display: block;
    text-align: center;
    background-color: var(--clr-bg);
    max-width: 350px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    margin-bottom: 100px;
    border: 1px solid var(--clr-dark);
    border-radius: 25px;
    box-shadow: 4px 4px 4px var(--clr-dark);
}

.about-cta-container {
    margin: auto;
    text-align: center;
}

/*  */
/* *                CONTACT PAGE */
/*  */

/* INTRO SECTION */
#contact-intro {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid var(--clr-dark);
    box-shadow: 4px 4px 4px var(--clr-dark);
}

.contact-text {
    font-size: 1.3em;
}

@media screen and (max-width: 768px) {
    .contact-text {
        font-size: 1.1em;
    }
}

.contact-section-header {
    margin-bottom: 5px;
}

#contact-form-section {
    padding: 0px 0 15px 0;
}

.contact-form {
    background-color: var(--clr-bg);
    margin: auto;
    border-radius: 25px;
    max-width: 700px;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 30px;
    border: 1px solid var(--clr-dark);
    box-shadow: 4px 4px 4px var(--clr-dark);
    opacity: 0.8;
}

input {
    color: black;
    background-color: var(--clr-sec);
    border-radius: 5px;
    height: 30px;
    font-size: 1.1rem;
    margin: 5px 15px;
    border: 1px solid var(--clr-dark);
}

input:focus {
    outline: 2px solid var(--clr-sec);
}

.input-email {
    width: 260px;
}

select,
option {
    color: black;
    background-color: var(--clr-sec);
    border: 1px solid var(--clr-dark);
}

textarea {
    color: black;
    background-color: var(--clr-sec);
    border-radius: 5px;
    min-width: 350px;
    min-height: 120px;
    max-width: 650px;
    max-height: 300px;
    margin: 15px auto 15px auto;
    border: 1px solid var(--clr-dark);
}

textarea:focus {
    outline: 2px solid var(--clr-sec);
}

.troll-container {
    width: 160px;
    height: 50px;
    margin: auto;
    padding-bottom: 20px;
}

.contact-button {
    color: black;
    background-color: var(--clr-sec2);
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 15px;
    min-width: 120px;
    min-height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid var(--clr-dark);
}

.troll-container:hover .contact-button {
    position: relative;
    top: 100px;
}

.contact-button:hover {
    background-color: var(--clr-btnHover);
}

/* Bottom plant AESTHETIC */
.bottom-plant-container {
    position: relative;
}

.bottom-plant {
    position: absolute;
    max-height: 790px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    bottom: 0;
    animation: plant-animation 10s ease-in-out infinite;
    filter: blur(0px);
}

@keyframes plant-animation {
    25% {
        left: -10px;
    }
    50% {
        max-height: 800px;
        filter: blur(3px);
    }
    75% {
        left: 10px;
    }
}

/* Används för att lägga saker framför plantan */
.z-index-ten {
    position: relative;
    z-index: 10;
}
