/* https://colorhunt.co/palette/f1ddbf525e7578938a92ba92 */

/*     font-family: 'Antic Slab', serif;

    font-family: 'Quicksand', sans-serif; */

/* Ändringar av taggar */

/* Tar bort vita kanter */
body {
    padding: 0;
    margin: 0;
    background-color: #f1ddbf;
}

a {
    color: black;
    text-decoration: none;
}

/* FONTS */
* {
    font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Antic Slab", serif;
}

/* GENERELLT FÖR SECTIONS */
section {
    margin: 0;
    padding: 0;
}

/* HEADER */
.page-header {
    background-color: #92ba92;
    height: 80px;
    width: 100%;

    font-size: 2rem;
    color: #92ba92;
}

#header-logo {
    position: absolute;
    height: 60px;
    vertical-align: middle;
    left: 20px;
    top: 10px;
    transition: background-color, 0.2s;
    cursor: pointer;
}

#header-logo:hover {
    background-color: #78938a;
}

.header-navbar {
    position: absolute;
    right: 20px;
    top: 22px;
}

.header-navbar > a {
    margin: 10px;
    padding: 10px;
    transition: background-color, 0.2s;
}

.header-nav-link {
    font-family: "Antic Slab", serif;
}

.header-nav-link:hover {
    background-color: #78938a;
}

.header-dropdown-menu {
    position: absolute;
    top: 15px;
    right: 30px;
}

.header-dropdown-icon {
    height: 50px;
}

.header-navbar-dropdown {
    display: none;
    background-color: #92ba92;
    position: absolute;
    width: 100px;
    right: 50px;
    top: 0px;
    font-size: 1.5rem;
}

.header-navbar-dropdown > a {
    margin: 5px;
    padding: 2px;
    transition: background-color, 0.2s;
}

.header-dropdown-menu:hover > nav {
    display: block;
}

.header-navbar-dropdown:hover {
    display: block;
}

@media screen and (min-width: 600px) {
    .header-dropdown-menu {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header-navbar {
        display: none;
    }
}

/* FOOTER */
#footer {
    background-color: #92ba92;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/* SECTION HEADER */
.section-header {
    text-align: center;
    font-size: 3rem;
    margin: 25px 5% 25px 5%;
}

.minor-text-header {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* IMAGE SECTION */
#image-section {
    text-align: center;
    margin: auto;
}

.image-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image-slideshow {
    height: 600px;
    width: 100%;
    background-image: url("/img/image-rotation/1.jpg");
    background-position: center center;
    background-size: cover;
    animation: slideshow 60s infinite ease-in-out 1s;
}

/* FYI övergångarna funkar kanon i t.ex. Chrome men Firefox kan inte animera mellan background-image*/
@keyframes slideshow {
    17% {
        background-image: url("/img/image-rotation/2.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(150%);
    }
    33% {
        background-image: url("/img/image-rotation/3.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(100%);
    }
    50% {
        background-image: url("/img/image-rotation/4.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(150%);
    }
    67% {
        background-image: url("/img/image-rotation/5.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(100%);
    }
    84% {
        background-image: url("/img/image-rotation/6.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(150%);
    }
    100% {
        background-image: url("/img/image-rotation/1.jpg");
        background-position: center center;
        background-size: cover;
        filter: brightness(100%);
    }
}

.image-section-logo {
    position: absolute;
    width: 60%;
    margin: auto;
    z-index: 2;
}

.image-section-image {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    object-fit: cover;
}

/* media query för telefon */
@media screen and (max-width: 600px) {
    .image-slideshow {
        height: 700px;
    }
    .image-section-logo {
        width: 80%;
    }
}

/* MISSION SECTION */
#mission-section {
    position: relative;
    padding-bottom: 30px;
}

.section-container-grid {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
}

.mission-list {
    font-size: 2em;
    grid-column-start: 2;
}

.mission-text-container {
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    grid-column-start: 3;
}

@media screen and (max-width: 600px) {
    .section-container-grid {
        grid-template-columns: 5% 1fr 5%;
        text-align: center;
    }

    .mission-text-container {
        width: 90%;
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

/* WHAT WE DO SECTION */
#whatwedo-section {
    background: url("/img/sketch-photo-2-blur.jpg") center center/cover
        no-repeat;
    padding-top: 1px;
    padding-bottom: 40px;
}

dl {
    text-align: left;
    margin: 0 25%;
}

dt {
    font-size: 2rem;
    font-family: "Antic Slab", serif;
    font-weight: bold;
    margin-top: 10px;
}

dd {
    font-size: 1.2em;
}

/* CTA SECTION */
#cta-section {
    text-align: center;
    padding-bottom: 80px;
}

.section-container-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cta-header {
    font-size: 2.2rem;
    font-family: "Quicksand", sans-serif;
}

.cta-button {
    font-family: "Antic Slab", serif;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #92ba92;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    border: #525e75 solid 1px;
}

.cta-button:hover {
    background-color: #78938a;
}

@media screen and (max-width: 600px) {
    .section-container-flex {
        display: grid;
    }
}

/* ABOUT PAGE */

/* intro section */
.about-intro-container {
    padding: 0 0 40px 0;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 3%;
    justify-content: space-evenly;
    align-items: top;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .about-intro-container {
        display: block;
        text-align: center;
    }
    .about-intro-image-container {
        display: none;
    }
}

.about-intro-text {
    grid-column-start: 2;
    justify-self: center;
}

.about-intro-image-container {
    grid-column-start: 3;
}

.about-intro-image {
    max-width: 100%;
}

/* about the product */
#about-the-product-section {
    background-color: #78938a;
    padding: 1px 0 0 0;
    z-index: 1;
}

.rating-container {
    padding: 0 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    column-gap: 15px;
}

.rating {
    justify-self: center;
    background-color: #f1ddbf;
    border-radius: 25px;
    margin: 0 20px;
    max-width: 280px;
}

@media screen and (max-width: 600px) {
    .rating-container {
        display: block;
        justify-content: center;
    }

    .rating {
        margin: auto;
    }
}

.rating-sender {
    color: #525e75;
}

.about-the-product-container {
    padding: 0 0 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-items: top;
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 15px;
    column-gap: 10px;
}

.about-the-product-text {
    margin: 25px;
    position: relative;
    z-index: 10;
}

@media screen and (max-width: 600px) {
    .about-the-product-container {
        grid-template-columns: 1fr;
    }
}

/* product benchmark */
#about-product-benchmark {
    text-align: center;
    display: block;
    padding-bottom: 60px;
}

.z-index-ten {
    position: relative;
    z-index: 10;
}

.table-text {
    position: relative;
    z-index: 10;
    background-color: #f1ddbf;
}

.table-container {
    position: relative;
    z-index: 10;
    z-index: 5;
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    width: 50%;
    margin: auto;
}

.performance-table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-size: 1.1em;
    background-color: #f1ddbf;
}
td {
    font-size: 0.9em;
}

td,
th {
    border: #525e75 1px solid;
}

tr:nth-child(2) {
    background-color: #92ba92;
}
tr:not(:nth-child(2), :nth-child(1)) {
    background-color: #ff5e50;
}

/* ABOUT CTA SECTION */
#about-cta-section {
    display: block;
    text-align: center;
    background-color: #78938a;
    padding-top: 15px;
    padding-bottom: 40px;
}

.about-cta-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
}

.about-cta-header {
    background-color: #78938a;
}

/* Bottom plant AESTHETIC */
.plant-background {
    background: url("/img/bottom-plant.png") no-repeat center bottom;
    background-size: contain;
    z-index: 10;
}

.bottom-plant-container {
    position: relative;
}

.bottom-plant {
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    bottom: 0;
}
